<div class="main-container">
  <button (click)="this.toPeriodChart()" mat-flat-button>Количество оформленных договоров в разрезе месяца</button>
  <button (click)="this.toUserPeriodChart()" mat-flat-button>Количество оформленных договоров во временном периоде
  </button>
  <button (click)="this.toEducationalChart()" mat-flat-button>Количество оформленных договоров по учреждению
    образования
  </button>
  <button (click)="this.toSpecializationsChart()" mat-flat-button>Количество оформленных договоров по специальности
  </button>
  <button (click)="this.toTemplatesChart()" mat-flat-button>Перечень заключенных договоров</button>
</div>
