<div class="main-container">
  <button (click)="this.toPeriodChart()" mat-flat-button>Количество оформленных договоров на период времени</button>
  <button (click)="this.toEducationalChart()" mat-flat-button>Количество оформленных договоров по учреждению
    образования
  </button>
  <button (click)="this.toSpecializationsChart()" mat-flat-button>Количество оформленных договоров по специальности
  </button>
  <button (click)="this.toTemplatesChart()" mat-flat-button>Перечень заключенных договоров</button>
</div>
