<div class="main-container">
  <button mat-flat-button (click)="this.toPeriodChart()">Количество оформленных договоров на период времени</button>
  <button mat-flat-button (click)="this.toEducationalChart()">Количество оформленных договоров по учреждению образования</button>
  <button mat-flat-button (click)="this.toSpecializationsChart()">Количество оформленных договоров по специальности</button>
  <button mat-flat-button (click)="this.toTemplatesChart()">Перечень заключенных договоров</button>
</div>
