<div class="main-container">

  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <input #input (keyup)="applyFilter(input.value)" matInput placeholder="Поиск">
  </mat-form-field>
  <button (click)="add()" mat-button>Добавить</button>

  <table class="table-responsive" [dataSource]="dataSource" mat-table matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="specialization_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Наименование специальности</th>
      <td *matCellDef="let element" mat-cell> {{ element.specialization_name }}</td>
    </ng-container>

    <ng-container matColumnDef="actionbuttons">
      <th *matHeaderCellDef mat-header-cell> Действия</th>
      <td *matCellDef="let element" mat-cell>
        <ng-container>
          <button (click)="edit(element)" mat-flat-button>Редактировать</button>
          <button (click)="deleteSpecialization(element.specialization_id)" mat-flat-button>Удалить</button>
        </ng-container>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"
                 showFirstLastButtons
                 class="mat-paginator">
  </mat-paginator>
</div>
