<div class="main-container">
  <mat-form-field class="search-field">
    <mat-label>Поиск</mat-label>
    <input #input (keyup)="applyFilter(input.value)" matInput placeholder="Поиск">
  </mat-form-field>
  <table class="table-responsive" [dataSource]="dataSource" mat-table matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="educational_establishment_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Название учреждения образования</th>
      <td *matCellDef="let element" mat-cell> {{ element.educational_establishment_name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="specialization_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Специальность</th>
      <td *matCellDef="let element" mat-cell> {{ element.specialization_name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Фамилия</th>
      <td *matCellDef="let element" mat-cell> {{ element.last_name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Имя</th>
      <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="middle_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Отчество</th>
      <td *matCellDef="let element" mat-cell> {{ element.middle_name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="types">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Типы взаимодействия</th>
      <td *matCellDef="let element" mat-cell> {{ element.types }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone_number">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Номер телефона</th>
      <td *matCellDef="let element" mat-cell> {{ element.phone_number }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="application_status">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Статус заявки</th>
      <td *matCellDef="let element" mat-cell> {{ element.application_status }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="execution_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Дата исполнения</th>
      <td *matCellDef="let element" mat-cell> {{ element.execution_date | date }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="expiration_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Дата окончания</th>
      <td *matCellDef="let element" mat-cell> {{ element.expiration_date | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actionbuttons">
      <th *matHeaderCellDef mat-header-cell> Действие</th>
      <td *matCellDef="let element" mat-cell>
        @if (element.application_status === 'В процессе') {
          <ng-container>
            <button mat-flat-button (click)="makeApproved(element.id)">Одобрить</button>
            <button mat-flat-button (click)="makeRejected(element.id)">Отклонить</button>
          </ng-container>
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"
                 showFirstLastButtons
                 class="mat-paginator">
  </mat-paginator>
</div>
