<div class="main-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="mainForm">
    <mat-form-field>
      <mat-label>Статус договора</mat-label>
      <mat-select [formControlName]="'contract_status'" class="example-full-width">
        @for (status of contractStatuses; track status) {
          <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button class="example-full-width" mat-flat-button type="submit">Подтвердить</button>
  </form>
</div>
