<div class="main-container">
  <mat-form-field class="search-field">
    <mat-label>Поиск</mat-label>
    <input #input (keyup)="applyFilter(input.value)" matInput placeholder="Поиск">
  </mat-form-field>
  <table class="table-responsive" [dataSource]="dataSource" mat-table matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="student_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Имя студента</th>
      <td *matCellDef="let element" mat-cell> {{ element.student_name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="student_last_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Фамилия студента</th>
      <td *matCellDef="let element" mat-cell> {{ element.student_last_name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="employee_first_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Имя работника одобрявшего заявку</th>
      <td *matCellDef="let element" mat-cell> {{ element.employee_first_name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="employee_last_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Фамилия работника одобрявшего заявку</th>
      <td *matCellDef="let element" mat-cell> {{ element.employee_last_name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="template_name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Тип заявки</th>
      <td *matCellDef="let element" mat-cell> {{ element.template_name }}</td>
    </ng-container>

    <ng-container matColumnDef="contract_status">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Статус договора</th>
      <td *matCellDef="let element" mat-cell> {{ element.contract_status }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="execution_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Дата исполнения</th>
      <td *matCellDef="let element" mat-cell> {{ element.execution_date | date }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="expiration_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Дата окончания действия</th>
      <td *matCellDef="let element" mat-cell> {{ element.expiration_date | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actionbuttons">
      <th *matHeaderCellDef mat-header-cell> Действия</th>
      <td *matCellDef="let element" mat-cell>

        @if (element.contract_status !== 'Исполнено' && element.contract_status !== 'Не исполнено') {
          <ng-container>
            <button (click)="downloadPDF(element.contract_id)" mat-flat-button>Скачать PDF</button>
            <button (click)="edit(element)" mat-flat-button>Изменить статус</button>
          </ng-container>
        }

      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"
                 showFirstLastButtons
                 class="mat-paginator">
  </mat-paginator>
</div>
