<div class="container">
  <form [formGroup]="templateForm">
    <mat-form-field class="example-full-width">
      <mat-label>Имя шаблона</mat-label>
      <input formControlName="template_name" matInput required>
    </mat-form-field>

    <div class="template-content-section">
      <mat-form-field class="example-full-width">
        <mat-label>Наполнение шаблона</mat-label>
        <textarea [defaultValue]="defval" formControlName="template_content" matInput required></textarea>
      </mat-form-field>
      <div class="template-buttons">
        <button
          (click)="insertTemplateVariable('{{ .student_last_name }} {{ .student_name }} {{ .student_middle_name }}')"
          mat-button>
          Добавить ФИО студента
        </button>
        <button (click)="insertTemplateVariable('{{ .execution_date }}')" mat-button>Добавить Дату исполнения</button>
        <button (click)="insertTemplateVariable('{{ .expiration_date }}')" mat-button>Добавить Дату окончания действия
        </button>
        <button (click)="insertTemplateVariable('{{ .specialization_name }}')" mat-button>Добавить специальность
        </button>
        <button (click)="insertTemplateVariable('{{ .educational_establishment_name }}')" mat-button>Добавить место
          обучения
        </button>
        <button (click)="insertTemplateVariable(defval)" mat-button>Добавить шаблон HTML
        </button>
      </div>
    </div>


    <div class="necessary_data" formArrayName="necessary_data">
      <h3>Необходимые данные</h3>
      <div *ngFor="let item of necessaryData.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <mat-label>Имя поля</mat-label>
          <input formControlName="key" matInput required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Тип данных</mat-label>
          <mat-select formControlName="value" required>
            @for (val of foods; track val) {
              <mat-option [value]="val.value">{{ val.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button (click)="removeNecessaryData(i)" color="warn" mat-button>Удалить</button>
      </div>
      <button (click)="addNecessaryData()" color="primary" mat-button>Добавить поле</button>
    </div>
    <div class="buttons">
      <button color="warn" mat-raised-button routerLink="/admin/templates">Отмена</button>
      <button (click)="onSubmit()" color="primary" mat-raised-button>Создать шаблон</button>
    </div>
  </form>
</div>
