.main-container {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  height: 82vh;
  align-items: center;
  padding-bottom: 12px;
  color: var(--text-color);
  justify-content: flex-start;
}

