.form-main {
  background: var(--secondary-background-color);
  border-radius: 23px;
  padding: 20px;
  min-width: 300px;
  color: var(--text-color);
  width: 25%;
}

.main-container {
  display: flex;
  height: 82.1vh;
  align-items: center;
  padding-bottom: 12px;
  justify-content: center;
}


